@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif ;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  transition: all 0.6s ease;

  background: linear-gradient(blue,rgb(93, 1, 174),rgb(183, 0, 255));
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  
}
.logo a{
  font-weight: lighter;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 5px;
}

.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  color: white;
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  padding: 10px 0;
  color: white;

  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: #47b2e4;
}
.logo a{
  color: white;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar .buttons .signin:hover {
  color: #47b2e4;
}

.navbar .buttons .signup {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: #47b2e4;
  color: #fff;
}
.secondHeading{
    color: rgb(133, 253, 253);
}

#menu-toggle {
    display: none;
  }
  
#hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
}

.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  background-color: #000000;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon i{
  color: black;
  font-size: 1.5rem;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  padding: 0 15px;
  transition: all 0.6s ease;
  margin: 0 auto;

}

.hero-section .hero {
  max-width: 50%;
  color: #fff;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #c9c7c7;
}

.hero-section .img img {
  width: 100%;
  height: 100%;
}

.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.4s ease;
  display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 15px;
}

.buttons .join {
  background-color: #47e4cf;
  color: black;
}

.hero-section .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
  background-color: #47b2e4;
}
.container{
  text-align: center;
  padding: 5%;
  transition: all 0.6s ease;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-around;
}
.front-face{
  width: 20%;
  height: 200%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #ebf8f9;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  transition: transform .4s linear;
}
.cover{
  background-color: #1b1b1b;
  height: 55px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  padding: 5px;
  font-size: 2.5rem;
  background: white;
  margin-top: 20px;
}
.name{
  font-size: 30px;
  padding-top: 25px;
  font-weight: 900;
}
.tag{
  padding: 5px 0;
  font-weight: 100;
}
.about{
  margin-top: 10px;
  padding: 0px 35px;
  font-size: 15px;
  width: 60%;
}
.about{
  background-color:#1b1b1b;
  margin: 0px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutbox{
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.aboutbox i{
  font-size: 1.6rem;
  color: aqua;
  margin: 4px;
}
div .first{
  font-size: 1.4rem;
  font-weight: 900;
  margin: 3px;
}
div .second{
  margin: 3px;
  font-size: 0.9rem;
  color: rgb(162, 161, 161);
}
.aboutleft{
  width: 40%;
  padding-left: 60px;
  box-sizing: border-box;
}
.aboutbox{
  width: 50%;
}
.aboutbox div{
  width: 40%;
  margin: 10px;
}
.test-header{
  text-align: center;
}
.test-header h2{
  font-weight: 900;
  font-size: 2.1rem;
  color: whitesmoke;
}
.test-header div{
  height: 1px;
  border: 2px solid cyan;
  width: 20%;
  margin: auto;
}
.test-header p{
  font-weight: 600;
  color: whitesmoke;
}
.wrapper {
  max-width: 1600px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper p{
  text-align: center;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 300px;
  list-style: none;
  background: #fff;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin-top: 5px;
  font-weight: 900;
  font-size: 1.5rem;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1rem;
}
.carousel .card p{
  margin-left:20px;
  font-family: cursive;
  margin-right: 20px;
}
.questions-container{
  max-width:100%;
  margin: 0 auto;
}

.question{
  border-bottom: 1px solid #fff;
}
.question button{
  width: 100%;
  background-color:#9901e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border:none;
  outline: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.question div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.question p{
  max-height: 0;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #b552e6;
  font-size: 0.9rem;
  overflow: hidden;
  transition: all 0.6s ease;
}
.d-arrow{
  transition: transform 0.5s ease-in ;
  color: #fff;
}

/*add this class when click*/
.question p.show{
  max-height: 200px; 
  opacity: 1;
  padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
  transform: rotate(180deg);
}
.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1b1b1b;
  color: whitesmoke;
  min-height: 350px;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
}
.footer .title{
  width: 30%;
  box-sizing:border-box;
  padding:1.5rem;
}
.footer .title span{
  color: cyan;
}
.footer .title h2{
  font-size: 1.7rem;
}
.footer .title p{
  font-weight: lighter;
  font-size: 0.85rem;
  line-height: 1.4rem;
}
.footer .title b{
  font-size: 0.9rem;
}
.footer .useful-links{
  width: 20%;
  box-sizing:border-box;
  padding:1.5rem;
}
.footer .useful-links div{
  color: rgb(156, 155, 155);
  line-height: 1.9rem;
  font-size: 0.9rem;
}
.footer .line{
  height: 3px;
  border: 2px solid cyan;
  width: 20%;
}
.footer .domain-links{
  width: 20%;
  box-sizing:border-box;
  padding:1.5rem;
}
.footer .domain-links div{
  color: rgb(156, 155, 155);
  line-height: 1.9rem;
  font-size: 0.9rem;
}
.footer i{
  color: white;
}
.footer .intern{
  width: 30%;
  box-sizing:border-box;
  padding:1.5rem;
}
.footer .useful-links span:hover{
  color: white;
  cursor: pointer;
}
.footer .domain-links span:hover{
  color: white;
  cursor: pointer;
}
.copyright{
  min-height: 110px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.copyright .left{
  width: 40%;
  box-sizing: border-box;
  padding: 1.5rem;
  font-size: 0.85rem;
}
.copyright .left span{
  color: white;
}
.copyright .right{
  width: 16%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1.5rem;
}
.copyright .right div{
  background-color: rgb(73, 72, 72);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55%;
  width: 19%;
  border-radius: 5px;
  text-align: center;
}
.copyright .right i{
  color: white;
  font-size: 1.4rem;
}
.intern span{
  color: rgb(164, 164, 164);

}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
@media screen and (max-width: 1023px) {
    .navbar .logo a {
      font-size: 1.5rem;
    }
    .container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: auto;
    }
    .container .front-face{
      margin: auto;
      width: 60%;
      margin-bottom: 1.1rem;
    }
    .hero-section{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 100%;
      height: 100%;
      width: 100%;
    }
    .hero-section div{
      width: 80%;
    }
    .hero h2{
      font-size: 2.4rem;
      text-align: center;
    }
    .hero p{
      font-size: 1.1rem;
      text-align: center;
    }
    .hero .buttons{
      margin: 0px;
      padding: 0px;
      text-align: center;
      padding-left: 50px;
    }
    .about{
      padding: 5%;
      text-align: left;
    }
    .aboutleft{
      text-align: left;
      padding: 0px;
    }
    .aboutleft h2{
      font-size: 1.6rem;

    }
    .footer{
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .front-face{
      background-color: rgb(255, 255, 219);
      width: 400%;
      margin: 0px;
      padding: 0px;
    }
    .front-face .cover{
      width: 100%;
    }
    .footer .title{
      width: 100%;
    }
    .footer .title .line{
      margin: auto;
    }
    .footer .intern{
      width: 100%;
    }
    .footer .domain-links{
      width: 100%;
    }
    .footer .useful-links{
      width: 100%;
    }
    .footer .domain-links .line{
      margin: auto;
    }
    .footer .useful-links .line{
      margin: auto;
    }
    .footer .intern .line{
      margin: auto;
    }
    .copyright{
      display: flex;
      flex-direction: column;
    }
    .copyright .left{
      width: 100%;
    }
    .copyright .right{
      width: 100%;
      height: 100%;
    }
    .copyright .right div{
      height: 40px;
      width: 40px;
    }
    .title{
      width: 100%;
    }
    .links {
      position: fixed;
      left: -100%;
      top: 75px;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      background: #175d69;
      flex-direction: column;
      transition: 0.3s ease;
    }
  
    .navbar #menu-toggle:checked ~ .links {
      left: 0;
    }
  
    .navbar #hamburger-btn {
      display: block;
    }
  
    .header .buttons {
      display: none;
    }
  
    .hero-section .hero {
      max-width: 100%;
      text-align: center;
    }
  
    .hero-section img {
      display: none;
    }
  }
  